/*CSS document*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: #f5f0f1;
    color: #24171C;
}

a {
    text-decoration: none;
    color: #24171C;
}

div.container {
    max-width: 40em;
    margin: auto;
}

img {
    width: 100%;
    padding-top: 1rem;
}

h1, h2, h3, p, figcaption, figure{
    margin: 0rem 0.75rem;
}

h1 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-family: rift-soft, sans-serif;
    padding: 0.5rem 0rem 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-family: rift-soft, sans-serif;
    padding: 1rem 0rem 0.3rem;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
}

li{
    font-family: rift-soft, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    display: inline;
    padding: 0.45rem;
}

li a {
    color:  #604D53;
}

p {
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-bottom: 1rem;
    text-align: center;
}

section {
    border-bottom: 1.5pt dashed #604D53;
}

figcaption {
    font-size: 0.85rem;
    padding: 0rem 1.4rem 1.5rem;
}

footer {
    padding-top: 1rem;
}
